* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black !important;
  color: white;
}

#navbar {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
  /* position: fixed; */
  background-color: transparent;
}

#navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.3rem 0.6rem;
  background-color: transparent;
  transition: box-shadow 0.1s ease;
  border-radius: 8px;
}

#navbar a:hover,
#navbar a:focus {
  color: black;
  background-color: white;
  box-shadow: 0 0 8px white;
  cursor: pointer;
  outline: none;
}

#name {
  color: white;
  font-family: "Merriweather", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -32rem;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}

#my-pic {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  position: relative;
  top: -4rem;
  transition: transform 0.3s ease-in-out;
}

#my-pic:hover {
  transform: translateY(-4px);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 1px 1px 10px white;
}

#welcome-section {
  height: 100vh;
  font-family: "Merriweather", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#welcome-section h1 {
  color: white;
  position: relative;
  font-size: 4rem;
  bottom: -2rem;
  font-weight: 400;
}

#welcome-section p {
  color: white;
  font-family: "Roboto", sans-serif;
  width: 50%;
  font-size: 2rem;
  letter-spacing: 0.04rem;
  position: relative;
  bottom: -4rem;
  line-height: 1.3;
}

#scroll-btn {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -10rem;
  height: 2rem;
  width: 10rem;
  border-radius: 10px;
  padding: 5px;
  font-size: 1rem;
  background-color: white;
  color: black;
  border: none;
  font-weight: 450;
  transition: transform 0.3s ease-in-out;
}

#scroll-btn:hover {
  color: black;
  background-color: white;
  box-shadow: 0 0 8px white;
  cursor: pointer;
  outline: none;
  transform: translateY(-3px);
  transition: transform 0.3s ease-in-out;
}

#projects {
  display: grid;
  grid-template-rows: 40rem 40rem 40rem;
  grid-template-columns: 50% 50%;
}

.project-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* ---------  Item 1 --------- */

.project-tile.item-1 {
  position: relative;
  background-color: white;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-tile.item-1 h3 {
  color: white;
  font-family: "Merriweather", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.7rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  position: relative;
  bottom: -9rem;
}

.project-tile.item-1:hover {
  background-color: rgba(128, 128, 128, 0.8);
  transition: background 0.3s ease-in-out;
}

.project-tile.item-1:hover h3 {
  color: white;
  opacity: 1;
}

#coffee-cup {
  height: auto;
  width: 200px;
  pointer-events: none;
  z-index: 0;
  transition: opacity 0.4s ease-in-out;
}

.project-tile.item-1:hover #coffee-cup {
  opacity: 0.2;
}

.project-link {
  text-decoration: none;
}

/* ---------  Item 2 --------- */

.project-tile.item-2 {
  position: relative;
  background-color: #7dd87d;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-tile.item-2 h3 {
  color: white;
  font-family: "Merriweather", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.7rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -6rem;
}

.project-tile.item-2 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9rem;
  color: green;
}

.project-tile.item-2:hover {
  background-color: rgba(105, 180, 105, 0.6);
  transition: background 0.3s ease-in-out;
}

.project-tile.item-2:hover h3 {
  color: white;
  opacity: 1;
}

/* ---------  Item 3 --------- */
.project-tile.item-3 {
  position: relative;
  background-color: #f5b553;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-tile.item-3 h3 {
  color: white;
  font-family: "Merriweather", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.7rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  position: relative;
  bottom: -6rem;
}

.project-tile.item-3:hover {
  background-color: rgba(210, 180, 90, 0.6);
  transition: background 0.3s ease-in-out;
}

.project-tile.item-3:hover h3 {
  color: white;
  z-index: 1;
  opacity: 1;
}

.project-tile.item-3 a {
  text-decoration: none;
}

#hadith-icon {
  height: auto;
  width: 200px;
  pointer-events: none;
  z-index: 0;
  transition: opacity 0.4s ease-in-out;
  position: relative;
}

.project-tile.item-3:hover #hadith-icon {
  opacity: 0.5;
}

/* ---------  Item 4 --------- */
.project-tile.item-4 {
  position: relative;
  background-color: #3a86ff;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-tile.item-4 h3 {
  color: white;
  font-family: "Merriweather", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.7rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -8rem;
}

.project-tile.item-4:hover {
  background-color: rgba(12, 148, 233, 0.6);
  transition: background 0.3s ease-in-out;
}

.project-tile.item-4:hover h3 {
  color: white;
  z-index: 1;
  opacity: 1;
}

/* ---------  Item 5 --------- */
.project-tile.item-5 {
  position: relative;
  background-color: #8ecccc;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-tile.item-5 h3 {
  color: white;
  font-family: "Merriweather", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.7rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  position: relative;
  bottom: -10rem;
}

.project-tile.item-5:hover {
  background-color: rgba(67, 103, 107, 0.6);
  transition: background 0.3s ease-in-out;
}

.project-tile.item-5:hover h3 {
  color: white;
  z-index: 1;
  opacity: 1;
}

#iphone-img {
  height: auto;
  width: 200px;
  pointer-events: none;
  z-index: 0;
  transition: opacity 0.4s ease-in-out;
  position: relative;
  right: 1.5rem;
}

.project-tile.item-5:hover #iphone-img {
  opacity: 0.5;
}

/* ---------  Item 6 --------- */
.project-tile.item-6 {
  position: relative;
  background-color: #ffffdd;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-tile.item-6 h3 {
  color: white;
  font-family: "Merriweather", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.7rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  position: relative;
  bottom: -5rem;
  right: -2rem;
}

.project-tile.item-6 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  color: #f6378f;
}

.project-tile.item-6:hover {
  background-color: rgb(133, 133, 115);
  transition: background 0.3s ease-in-out;
}

.project-tile.item-6:hover h3 {
  color: white;
  z-index: 1;
  opacity: 1;
}

.project-tile.item-6:hover h2 {
  opacity: 0.1;
}

.project-link {
  text-decoration: none;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
  font-weight: 100;
  color: #606470;
}

#footer p {
  position: relative;
  bottom: -3rem;
}

#icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 0.3rem;
}

#icons i {
  transition: transform 0.3s ease;
}

.fa-linkedin:hover {
  color: gray;
  cursor: pointer;
  transform: translate(1px, -3px);
}

.fa-square-github:hover {
  color: gray;
  cursor: pointer;
  transform: translate(1px, -3px);
}

/* Lightmode */
body.lightmode {
  background-color: white !important;
  color: black;
}

body.lightmode #navbar {
  background-color: transparent;
}

body.lightmode #navbar a {
  color: black;
  background-color: transparent;
}

body.lightmode #navbar a:hover,
body.lightmode #navbar a:focus {
  color: white;
  background-color: black;
  box-shadow: 0 0 8px black;
  cursor: pointer;
  outline: none;
}

body.lightmode #name,
body.lightmode #welcome-section h1,
body.lightmode #welcome-section p {
  color: black;
}

body.lightmode #scroll-btn {
  background-color: black;
  color: white;
}

body.lightmode #scroll-btn:hover {
  background-color: black;
  color: white;
  box-shadow: 0 0 8px black;
}

body.lightmode .project-tile.item-1,
body.lightmode .project-tile.item-2,
body.lightmode .project-tile.item-3,
body.lightmode .project-tile.item-4,
body.lightmode .project-tile.item-5,
body.lightmode .project-tile.item-6 {
  color: black;
}

body.lightmode .project-tile.item-1 h3,
body.lightmode .project-tile.item-2 h3,
body.lightmode .project-tile.item-3 h3,
body.lightmode .project-tile.item-4 h3,
body.lightmode .project-tile.item-5 h3,
body.lightmode .project-tile.item-6 h3 {
  color: black;
}

body.lightmode .project-tile.item-1:hover h3,
body.lightmode .project-tile.item-2:hover h3,
body.lightmode .project-tile.item-3:hover h3,
body.lightmode .project-tile.item-4:hover h3,
body.lightmode .project-tile.item-5:hover h3,
body.lightmode .project-tile.item-6:hover h3 {
  color: black;
}

body.lightmode #footer {
  color: #333;
}

#theme-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  top: 20px;
  right: 20px;
  border: none;
}

#theme-switch img {
  width: 20px;
  height: 20px;
  display: none;
  margin: auto;
  filter: brightness(0.4);
}

body.lightmode #sun-icon {
  display: block;
}

body.lightmode #moon-icon {
  display: none;
}

body:not(.lightmode) #moon-icon {
  display: block;
}

@media (max-width: 768px) {
  #projects {
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }

  #my-pic {
    margin-top: 2rem;
  }

  #my-pic,
  #calculator_img,
  #iphone-img {
    max-width: auto;
    height: auto;
  }

  #welcome-section h1 {
    font-size: 2.5rem;
  }

  .project-tile h2 {
    font-size: 1.8rem;
  }

  #welcome-section p {
    font-size: 1.2rem;
    width: 100%;
  }

  #navbar {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
  }

  #name {
    order: 0;
    position: static;
    margin: 0 0 1rem 0;
    text-align: center;
  }

  #navbar a {
    order: 1;
    display: block;
    margin: 0.5rem 0;
    padding-top: -5rem;
  }

  #scroll-btn {
    width: 100%;
  }

  #footer #icons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

  #theme-switch {
    position: fixed;
    width: 35px;
    height: 35px;
  }
}

/* @media (max-width: 874px) {
  #scroll-btn {
    margin-bottom: 5rem;
  }
} */

@media (max-width: 1100px) {
  #name {
    position: static;
    margin-left: 2rem;
    text-align: left;
  }

  #theme-switch {
    top: 60px;
    right: 15px;
  }

  #my-pic {
    display: none;
  }
}
