* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black !important;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding-top: 6rem;
}


#navbar {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

#navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.3rem 0.6rem;
  background-color: transparent;
  transition: box-shadow 0.1s ease;
  border-radius: 8px;
}

#navbar a:hover,
#navbar a:focus {
  color: black;
  background-color: white;
  box-shadow: 0 0 8px white;
  cursor: pointer;
  outline: none;
}

#name {
  color: white;
  font-family: 'Merriweather', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -32rem;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}

img {
  display: block;
  margin: 2rem auto;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  object-fit: cover;
}

img:hover {
  transform: translateY(-4px);
  cursor: pointer;
  box-shadow: 1px 1px 10px white;
}

section {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: white;
  box-shadow: 0 10px 10px rgba(218, 208, 208, 0.492);
  transition: transform 0.3s ease-in-out;
}

section h2 {
  font-family: 'Merriweather', serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgb(188, 188, 188);
  padding-bottom: 0.5rem;
}

section ul {
  list-style-type: circle;
  padding-left: 1.5rem;
}

section ul li {
  margin-bottom: 0.6rem;
  line-height: 1.5;
}

section:hover {
  transform: translateY(-4px);
  cursor: pointer;
  box-shadow: 1px 1px 10px white;
}
